[user]
        name = Logan Campbell-McPherson
        email = colin@logaan.net

[alias]
        ci = commit -a
        co = checkout
        st = status

[apply]
        whitespace = strip

[diff]
        color = auto
        rename = copy 

[pager]
        color = true 

[status]
        color = auto

