[user]
	name = Logan Campbell
	email = colin@logaan.net

[alias]
        ci = commit -va
        co = checkout
        st = status
        diff = diff --patience

[apply]
        whitespace = strip

[diff]
        color = auto
        rename = copy 

[pager]
        color = true 

[status]
        color = auto

[github]
	user = logaan
[core]
	excludesfile = /Users/logaan/.gitignore
